html,body,h1,h2,h3,h4,h5,h6,p,ul,li,input,video{
	margin:0;padding:0;
}
body{
	font-family:'Microsoft YaHei','sans-serif';
}
div{
	overflow:hidden;
}
ul,li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	line-height:1;
	color:#333;
}
h1{
	font-size:22px;
	font-family:'Hiragino Sans GB','Microsoft YaHei','sans-serif';
}
h2{
	font-size:20px;
}
h3{
	font-size:18px;
	color:#444;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
p{
	font-size:14px;
	line-height:24px;
	color:#666;
}
strong{
	font-size:28px;
	font-family:'Gill Sans MT','Microsoft YaHei','sans-serif';
}
em,i{
	font-style:normal;
}
input{
	box-sizing:border-box;
}
a{
	color:#666;
	cursor:pointer;
}
a,a:hover{
	text-decoration:none;
}
a:hover{
	color:#39a030;
}
