.outer{
	width:100%;
}
.inner{
	width:1205px;
	margin:0 auto;
}
/* NOTIFY */
#notify{
	background-color:#f3f3f3;
}
#n-container p{
	padding:5px 0;
}
#n-container p:first-child{
	float:left;
}
#n-container p:last-child{
	float:right;
}
#n-close{
	cursor:pointer;
}
/* NOTIFY */

/* HEADER */
#header_wrap{
	width:1205px;
	overflow:hidden;
	margin:0 auto;
}
#header_wrap #h-left{
	height:89px;
	line-height:89px;
	float:left;
}

#header_wrap #h-follower{
	float:left;
	margin-top:36px;
}
#header_wrap #h-follower #follow{
	float:left;
	/*width:36px;
	height:21px;
	padding:0 9px;
	margin:0 14px 0 31px;
	text-align:center;
	border-radius:1px;
	background-color:#21a557;*/
}
#header_wrap #h-follower #follow i{
	float:left;
	width:8px;
	height:8px;
	margin:3px 0;
	background:url('../images/icon.png');
	background-position:-65px -120px;
}
#header_wrap #h-follower #follow button{
	width:54px;
	height:21px;
	margin:0 14px 0 31px;
	text-align:center;
	border:#21a557;
	border-radius:1px;
	background-color:#21a557;
	color:#fff;
	cursor:pointer;
}
#header_wrap #h-follower span{
	color:#666;
}
#header_wrap #h-follower em{
	color:#666;
	margin-left:6px;
}
#header_wrap #h-search{
	float:right;
	margin:38px 14px auto 30px;
	background:url('../images/icon.png');
	background-position:-55px -2px;
}
#header_wrap #h-search a{
	float:right;
	width:20px;
	height:20px;
}
#header_wrap #nav{
	display:inline-block;
	float:right;
	margin-top:30px;
}
#header_wrap #nav a{
	margin-left:50px;
}
#header_wrap #nav a:first-child{
	margin-left:0;
}
/* HEADER */

/* carousel */
#carousel{
	width:1205px;
	height:460px;
	margin:0 auto;
	background:#00f;
}

/* products */
#products{
	overflow:hidden;
	margin:58px auto;
}
#products .edu163{
	width:240px;
	margin-right:84px;
	float:left;
}
#products .edu163:last-child{
	margin-right:0;
}
#products .logo_bg{
	float:left;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:#39a030;
	margin-right:20px;
	margin-top:17px;
}
#products .logo_bg i{
	float:left;
	background:url('../images/icon.png');
}
#products #open163 i{
	width:38px;
	height:37px;
	margin:22px 21px 21px;
	background-position:-2px -2px;
}
#products #study163 i{
	width:38px;
	height:39px;
	margin:21px 21px 20px;
	background-position:-2px -52px;
}
#products #icourse163 i{
	width:48px;
	height:39px;
	margin:24px 15px 17px 17px;
	background-position:-2px -107px;
}

/* workEnvironment */
.workEnvironment{
	width:1205px;
	height:220px;
	margin:0 auto;
	background:#f8f8f8;
}

/* tab */
#tab{
	width:1205px;
	height:500px;
	margin:0 auto;
}
#tab .cat{
	width:200px;
	height:50px;
	text-align:center;
	float:left;
}
#tab .cat h2{
	line-height:50px;
}
#tab #cat1{
	color:#fff;
	background-color:#39a030;
}
#tab #cat2{
	color:#666;
	background-color:#fff;
}

/* footer */
#footer_wrap{
	background-color:#2c3339;
}
#f-container{
	height:102px;
	margin:0 auto;
	padding:80px 0;
	line-height:2;
}
#f1,#f2,#f3,#f4{
	float:left;
	margin-left:100px;
}
.logo{
	padding:0 50px;
	margin-left:0;
}
#f1{
	width:490px;
}
#f2 a,#f3 a,#f4 a{
	display:block;
}
